<div class="blog-post">
  <h2 class="blog-post-title">Task Runner</h2>
  <!-- <p class="blog-post-meta">October 2014 by <a href="#">Joel<strong>Cox</strong></a></p> -->
  <hr>

  <blockquote>
    <p><strong>So what exactly is a <i>Task Runner?</i></strong></p>
  </blockquote>
  <p>A task runner is a node plugin that automates a bunch of heavy responsabilities for you.</p>
  <p>Task Runners provide developers the ability to spend the moajority of their time on coding, rather than trying get everything working together.</p>
  <ul>
    <li><strong>Central location for all connections to be made</strong>
      <ul>
        <li>The task runner will run your server, and boot up your app for you.</li>
      </ul>
    </li>
    <li><strong>What else can a task runner do?</strong>
      <ul>
        <li>A task runner can inject all your script files into your index.html for you.</li>
        <li>A task runner can jshint all your javascript, conact all your files together, and minify your concated file</li>
        <li>It can also do the same thing for css, or sass, or less, or even stylus, also other javascript preprocessors like CoffeeScript</li>
        <li>A task runner can watch and reload all your files on save</li>
        <li>A task runner can handle a lot of other things as well</li>
      </ul>
    </li>
    <li><strong>There are currently two popular and widely used task runners</strong></li>
    <li><strong>Gulp</strong>
      <ul>
        <li>Most recommended, because it is easiest to use</li>
        <li>Gulp also uses less CPU on your computer.</li>
      </ul>
    </li>
    <li>
      <strong>Grunt</strong>
      <ul>
        <li>Very difficult to use.</li>
        <li>I don't reccomend using it, unless you feel like you like the syntax more than gulp.</li>
      </ul>
    </li>
  </ul>
</div>

<ul class="pager">
  <li><a ui-sref="setup.nine">Previouse</a></li>
  <li><a ui-sref="main">Start</a></li>
</ul>

